.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.App .header-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
}

.App .header-part .title {
  font-size: 30px;
}
